@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928


*/
/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	
}
body{	
	color:#353432;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*font-family:"游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	/*font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";*/
	font-size:16px;
	line-height:1.5;
	font-weight:normal;
	letter-spacing:0.05em;
}

.Mincho{
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#000000;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:none;
}
a:hover{
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;
}

.border{
	border:1px solid #000000;	
}



#wrapper{
	width:100%;
	margin:0 auto;
	padding:0;
	letter-spacing:0.1em;
	border-top:37px solid #01533c;
}
.l-Block01{
	width:100%;
	margin:0 auto;
	text-align:center;
	background-color:#d7e4ec;
}
.l-Block01 .l-Block01-table{
	width:100%;
	margin:0 auto;
	text-align:center;
	position:relative;
	line-height:0;
	/*background:url(../../images/common/img_top02_pc.png) center bottom no-repeat;
	background-size:contain;*/
}
.l-Block01 .l-Block01-table .p-back{

}
.l-Block01 .l-Block01-table .p-back img{
	max-width:760px;
	width:100%;
	line-height:0;
}
.l-Block01 .l-Block01-table .p-title{
	position:absolute;
	top:60px;
	width:100%;
	text-align:center;
}
.l-Block01 .l-Block01-table .p-title p:first-of-type img{
	max-width:760px;
	width:100%;
	line-height:0;
}
.l-Block01 .l-Block01-table .p-title p:last-of-type a{
	display:inline-block;
}
.l-Block01 .l-Block01-table .p-title p:last-of-type img{
	width:34px;
	line-height:0;
	margin-top:32px;
}

.l-Block02{
	width:100%;
	margin:0 auto;
	text-align:center;
	background-color:#01533c;
	padding:65px 0 55px;
}
.l-Block02 .p-title{
	width:100%;
	text-align:center;	
}
.l-Block02 .p-title img{
	max-width:760px;
	width:100%;
	line-height:0;
}
.l-Block02 p{
	color:#FFFFFF;
	line-height:2.2;
	font-size:14px;
	text-align:center;
	padding-top:50px;
}

.l-NoBlock{
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0px 0 80px;
}
.l-NoBlock .l-NoBlock01{
	width:100%;
	margin:0 auto;
	text-align:center;
}
.l-NoBlock .l-NoBlock01 .p-title{
	padding-top:80px;
}
.l-NoBlock .l-NoBlock01 .p-title img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock01 .p-image{
	padding-top:20px;
}
.l-NoBlock .l-NoBlock01 .p-image img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock01 .p-button{
	display:inline-block;
	padding:30px 122px 0;
}
.l-NoBlock .l-NoBlock01 .p-button a{
	display:inline-block;
}
.l-NoBlock .l-NoBlock01 .p-button img{
	max-width:269px;
	width:100%;
}

.l-NoBlock .l-NoBlock02{
	width:100%;
	margin:0 auto;
	text-align:center;
}
.l-NoBlock .l-NoBlock02 .p-title{
	padding-top:70px;
}
.l-NoBlock .l-NoBlock02 .p-title img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock02 .p-image{
	padding-top:20px;
}
.l-NoBlock .l-NoBlock02 .p-image img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock02 .p-button{
	display:inline-block;
	padding:30px 90px 0 89px;
}
.l-NoBlock .l-NoBlock02 .p-button a{
	display:inline-block;
}
.l-NoBlock .l-NoBlock02 .p-button img{
	max-width:334px;
	width:100%;
}

.l-NoBlock .l-NoBlock03{
	width:100%;
	margin:0 auto;
	text-align:center;
}
.l-NoBlock .l-NoBlock03 .p-title{
	padding-top:70px;
}
.l-NoBlock .l-NoBlock03 .p-title img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock03 .p-image{
	padding-top:30px;
}
.l-NoBlock .l-NoBlock03 .p-image img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock03 .p-button{
	display:inline-block;
	padding:30px 123px 0 122px;
}
.l-NoBlock .l-NoBlock03 .p-button a{
	display:inline-block;
}
.l-NoBlock .l-NoBlock03 .p-button img{
	max-width:268px;
	width:100%;
}

.l-NoBlock .l-NoBlock04{
	width:100%;
	margin:0 auto;
	text-align:center;
}
.l-NoBlock .l-NoBlock04 .p-title{
	padding-top:70px;
}
.l-NoBlock .l-NoBlock04 .p-title img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock04 .p-image{
	padding-top:20px;
}
.l-NoBlock .l-NoBlock04 .p-image img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock04 .p-button{
	display:inline-block;
	padding:30px 80px 0 80px;
}
.l-NoBlock .l-NoBlock04 .p-button a{
	display:inline-block;
}
.l-NoBlock .l-NoBlock04 .p-button img{
	max-width:353px;
	width:100%;
}

.l-NoBlock .l-NoBlock05{
	width:100%;
	margin:0 auto;
	text-align:center;
}
.l-NoBlock .l-NoBlock05 .p-title{
	padding-top:70px;
}
.l-NoBlock .l-NoBlock05 .p-title img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock05 .p-image{
	padding-top:30px;
}
.l-NoBlock .l-NoBlock05 .p-image img{
	max-width:513px;
	width:100%;
}
.l-NoBlock .l-NoBlock05 .p-button{
	display:inline-block;
	padding:30px 123px 0 123px;
}
.l-NoBlock .l-NoBlock05 .p-button a{
	display:inline-block;
}
.l-NoBlock .l-NoBlock05 .p-button img{
	max-width:267px;
	width:100%;
}

.l-footerBlock{
	width:100%;
	margin:0 auto;
	text-align:center;
	background-color:#01533c;
	padding:50px 0 50px;
}
.l-footerBlock .p-title{
	
}
.l-footerBlock .p-title img{
	max-width:760px;
	width:100%;
	line-height:0;
}
.l-footerBlock p{
	color:#FFFFFF;
	line-height:2.2;
	font-size:16px;
	text-align:center;
}
.l-footerBlock .p-image{
	text-align:center;
	padding:60px 36px 0 35px;
}
.l-footerBlock .p-image img{
	max-width:689px;
	width:100%;
}

/**ページトップ**/
#page-top{
	/*position: relative;*/
	position: fixed;
	/*top: 1px;*/
	right: 5%;
	bottom: 75px;
	z-index:9000;
	height:50px;
	margin:0 auto;
	text-align:right;
	margin-bottom:10px;
}

#page-top a {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:1;
}
#page-top a:hover{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:.7;
}
#page-top a img {
	opacity:1;
}

.l-inner{
	max-width:780px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}
.l-inner513{
	max-width:533px;
	width:100%;
	margin:0px auto;
	padding:0 10px;
}

.pconly{
	display:block !important;
}

.sponly0{
	display:none !important;
}

.sponly{
	display:none !important;	
}

.sponly1{
	display:block !important;
}

.sponly1_5{
	display:none !important;
}

.sponly2{
	display:none !important;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	body{	
		font-size:14px;
	}
	
	
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:block !important;
	}
	
	.sponly1_5{
		display:none !important;
	}
	
	.sponly2{
		display:none !important;
	}
	
}
@media screen and (min-width:769px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){
	body{	
		font-size:14px;
	}
	
	#wrapper{
		width:100%;
		margin:0 auto;
		padding:0;
		letter-spacing:0.1em;
		border-top:26px solid #01533c;
	}
	.l-Block01{
		width:100%;
		margin:0 auto;
		text-align:center;
		background-color:#d7e4ec;
	}
	.l-Block01 .l-Block01-table{
		width:100%;
		margin:0 auto;
		text-align:center;
		position:relative;
		line-height:0;
		/*background:url(../../images/common/img_top02_pc.png) center bottom no-repeat;
		background-size:contain;*/
	}
	.l-Block01 .l-Block01-table .p-back{
	
	}
	.l-Block01 .l-Block01-table .p-back img{
		max-width:532px;
		width:100%;
		line-height:0;
	}
	.l-Block01 .l-Block01-table .p-title{
		position:absolute;
		top:60px;
	}
	.l-Block01 .l-Block01-table .p-title p:first-of-type img{
		max-width:532px;
		width:100%;
		line-height:0;
		text-align:center;
	}
	.l-Block01 .l-Block01-table .p-title p:last-of-type{
		display:none;
	}
	.l-Block01 .l-Block01-table .p-title p:last-of-type a{
		display:inline-block;
	}
	.l-Block01 .l-Block01-table .p-title p:last-of-type img{
		width:34px;
		line-height:0;
		margin-top:30px;
	}
	
	.l-Block02{
		width:100%;
		margin:0 auto;
		text-align:center;
		background-color:#01533c;
		padding:45px 0 38px;
	}
	.l-Block02 .p-title{
		
	}
	.l-Block02 .p-title img{
		max-width:532px;
		width:100%;
		line-height:0;
	}
	.l-Block02 p{
		color:#FFFFFF;
		line-height:2.2;
		font-size:14px;
		text-align:center;
		padding-top:35px;
	}
	
	.l-NoBlock{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 0 56px;
	}
	.l-NoBlock .l-NoBlock01{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock01 .p-title{
		padding-top:56px;
	}
	.l-NoBlock .l-NoBlock01 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock01 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock01 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock01 .p-button{
		display:inline-block;
		padding:21px 85px 0;
	}
	.l-NoBlock .l-NoBlock01 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock01 .p-button img{
		max-width:269px;
		width:100%;
	}
	
	.l-NoBlock .l-NoBlock02{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock02 .p-title{
		padding-top:56px;
	}
	.l-NoBlock .l-NoBlock02 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock02 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock02 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock02 .p-button{
		display:inline-block;
		padding:21px 63px 0 63px;
	}
	.l-NoBlock .l-NoBlock02 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock02 .p-button img{
		max-width:334px;
		width:100%;
	}
	
	.l-NoBlock .l-NoBlock03{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock03 .p-title{
		padding-top:56px;
	}
	.l-NoBlock .l-NoBlock03 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock03 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock03 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock03 .p-button{
		display:inline-block;
		padding:21px 86px 0 86px;
	}
	.l-NoBlock .l-NoBlock03 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock03 .p-button img{
		max-width:268px;
		width:100%;
	}
	
	.l-NoBlock .l-NoBlock04{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock04 .p-title{
		padding-top:56px;
	}
	.l-NoBlock .l-NoBlock04 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock04 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock04 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock04 .p-button{
		display:inline-block;
		padding:21px 56px 0 56px;
	}
	.l-NoBlock .l-NoBlock04 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock04 .p-button img{
		max-width:353px;
		width:100%;
	}
	
	.l-NoBlock .l-NoBlock05{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock05 .p-title{
		padding-top:56px;
	}
	.l-NoBlock .l-NoBlock05 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock05 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock05 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock05 .p-button{
		display:inline-block;
		padding:21px 86px 0 86px;
	}
	.l-NoBlock .l-NoBlock05 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock05 .p-button img{
		max-width:267px;
		width:100%;
	}
	
	.l-footerBlock{
		width:100%;
		margin:0 auto;
		text-align:center;
		background-color:#01533c;
		padding:35px 0 35px;
	}
	.l-footerBlock .p-title{
		
	}
	.l-footerBlock .p-title img{
		max-width:760px;
		width:100%;
		line-height:0;
	}
	.l-footerBlock p{
		color:#FFFFFF;
		line-height:2.2;
		font-size:14px;
		text-align:center;
	}
	.l-footerBlock .p-image{
		text-align:center;
		padding:42px 0px 0 0px;
	}
	.l-footerBlock .p-image img{
		max-width:689px;
		width:100%;
	}
	
	
	.l-inner{
		padding:0 3%;
	}
	.l-inner513{
		padding:0 3%;
	}
	
	
	#page-top{
		bottom: 7%;
		height:50px;
	}		
	#page-top img {
		width: 33px;
		height:auto;	
	}
	
	
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:none !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:none !important;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:768px) and (min-width:320px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	body{	
		font-size:12px;
	}
	
	#wrapper{
		width:100%;
		margin:0 auto;
		padding:0;
		letter-spacing:0.1em;
		border-top:18px solid #01533c;
	}
	.l-Block01{
		width:100%;
		margin:0 auto;
		text-align:center;
		background-color:#d7e4ec;
	}
	.l-Block01 .l-Block01-table{
		width:100%;
		margin:0 auto;
		text-align:center;
		position:relative;
		line-height:0;
		/*background:url(../../images/common/img_top02_pc.png) center bottom no-repeat;
		background-size:contain;*/
	}
	.l-Block01 .l-Block01-table .p-back{
	
	}
	.l-Block01 .l-Block01-table .p-back img{
		max-width:380px;
		width:100%;
		line-height:0;
	}
	.l-Block01 .l-Block01-table .p-title{
		position:absolute;
		top:30px;
	}
	.l-Block01 .l-Block01-table .p-title p:first-of-type img{
		max-width:380px;
		width:100%;
		line-height:0;
	}
	
	.l-Block02{
		width:100%;
		margin:0 auto;
		text-align:center;
		background-color:#01533c;
		padding:32px 0 28px;
	}
	.l-Block02 .p-title{
		width:100%;
		text-align:center;	
	}
	.l-Block02 .p-title img{
		max-width:380px;
		width:100%;
		line-height:0;
	}
	.l-Block02 p{
		color:#FFFFFF;
		line-height:2.2;
		font-size:12px;
		text-align:center;
		padding-top:25px;
	}
	
	.l-NoBlock{
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 0 25px;
	}
	.l-NoBlock .l-NoBlock01{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock01 .p-title{
		padding-top:35px;
	}
	.l-NoBlock .l-NoBlock01 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock01 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock01 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock01 .p-button{
		display:inline-block;
		padding:15px 0px 0;
	}
	.l-NoBlock .l-NoBlock01 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock01 .p-button img{
		max-width:480px;
		width:100%;
	}
	
	.l-NoBlock .l-NoBlock02{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock02 .p-title{
		padding-top:35px;
	}
	.l-NoBlock .l-NoBlock02 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock02 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock02 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock02 .p-button{
		display:inline-block;
		padding:15px 0px 0 0px;
	}
	.l-NoBlock .l-NoBlock02 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock02 .p-button img{
		max-width:480px;
		width:100%;
	}
	
	.l-NoBlock .l-NoBlock03{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock03 .p-title{
		padding-top:35px;
	}
	.l-NoBlock .l-NoBlock03 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock03 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock03 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock03 .p-button{
		display:inline-block;
		padding:15px 0px 0 0px;
	}
	.l-NoBlock .l-NoBlock03 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock03 .p-button img{
		max-width:480px;
		width:100%;
	}
	
	.l-NoBlock .l-NoBlock04{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock04 .p-title{
		padding-top:35px;
	}
	.l-NoBlock .l-NoBlock04 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock04 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock04 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock04 .p-button{
		display:inline-block;
		padding:15px 0px 0 0px;
	}
	.l-NoBlock .l-NoBlock04 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock04 .p-button img{
		max-width:480px;
		width:100%;
	}
	
	.l-NoBlock .l-NoBlock05{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.l-NoBlock .l-NoBlock05 .p-title{
		padding-top:35px;
	}
	.l-NoBlock .l-NoBlock05 .p-title img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock05 .p-image{
		padding-top:20px;
	}
	.l-NoBlock .l-NoBlock05 .p-image img{
		max-width:513px;
		width:100%;
	}
	.l-NoBlock .l-NoBlock05 .p-button{
		display:inline-block;
		padding:15px 0px 0 0px;
	}
	.l-NoBlock .l-NoBlock05 .p-button a{
		display:inline-block;
	}
	.l-NoBlock .l-NoBlock05 .p-button img{
		max-width:480px;
		width:100%;
	}
	
	.l-footerBlock{
		width:100%;
		margin:0 auto;
		text-align:center;
		background-color:#01533c;
		padding:25px 0 25px;
	}
	.l-footerBlock .p-title{
		
	}
	.l-footerBlock .p-title img{
		max-width:760px;
		width:100%;
		line-height:0;
	}
	.l-footerBlock p{
		color:#FFFFFF;
		line-height:2.2;
		font-size:12px;
		text-align:center;
	}
	.l-footerBlock .p-image{
		text-align:center;
		padding:30px 0px 0 0px;
	}
	.l-footerBlock .p-image img{
		max-width:689px;
		width:100%;
	}
	
	#wrapper{
		width:100%;
		margin:0 auto;
		padding:0;
		letter-spacing:0.7px;
	}
	
	#page-top{
		bottom: 10%;
		height:25px;
	}	
	#page-top a:hover{
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		opacity:1;
	}	
	#page-top img {
		width: 30px;
		height:auto;	
	}
	#page-top a img {
		opacity:0.8;
	}
	
	
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:none !important;
	}
	
	.sponly1{
		display:none !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:block !important;
	}
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
